html {
    font-size: 20px;
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
	font-size: 25px;
}

body {
    margin: 0px 0px;
    padding: 0px 0px;    
	min-height: 100vh;
	position: relative;
}

header, footer {
    background-color: rgb(0, 0, 0);
    margin: 0px 0px;
    height: auto;
    width: 100%;
    position: relative;
    padding: 10px 10px;
    text-align: center;
}

header {
    top: 0px;
}

footer {
    bottom: 0px;
}

main {
    margin: 0px 0px 16px 0px;
    padding: 0px 20px;
}

input {
    height: 35px;
    width: 66.6%;
}

.resume {
	margin: 16px;
	padding: 0;
}

.title {
	text-align: center;
}

.about {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
	transition: .5s;
}

.intro {
    padding: 024px;
}

.accent-color {
    color: #fb3f00;
}



.footer-inside-box {
    padding: 10px 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 33.3%;
    margin: 8px 16px 16px 0px;
}

.contact-form {
    display: inline-block;
    text-align:left;
    width: 75%;

}


.highlight {
    color: rgb(0, 0, 0);
    height: auto;
    padding: 1px 4px 4px 4px;
    margin: 16px 0px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, .2);

}

.highlight:hover {
    opacity: .6;
}

.first-highlight {
    text-align: left;
}

.second-highlight {
    text-align: right;
}

.third-highlight {
    text-align: left;
}

.fourth-highlight {
    text-align: right;
}

.menuBtn {
	background: rgb(0, 0, 0);
	border: none;
	height: 48px;
	width: 48px;
	text-align: center;
}

.btn {
    border: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.sidebar {
  width: 0;
  padding: 8px 0px 8px 16px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  right: 0;
  top: 125px;
  height: auto;
  transition: 0.5s;
}

.sidebar:hover {
	width: 125px !important;
}

.sm:hover {
    opacity: 0.7;
}

.main-nav:link
{
    color: inherit;
   text-decoration: none;
}
.main-nav:visited
{
    color: inherit;
   text-decoration: none;
}
.main-nav:hover
{
    color: inherit;
    opacity: .6;
   text-decoration: none;
}
.main-nav:active
{
   color: inherit;
   text-decoration: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}
