/* element selectors */

html {
    font-size: 20px;
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 40px;
    text-align: center;
    opacity: 1;
}

h2 {
    font-size: 30px;
}

h3 {
	font-size: 25px;
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
	position: relative;
    min-height: 1vh;
}

p {
    opacity: 1;
}

header, footer {
    background-color: rgb(0, 0, 0);
    margin: 0px 0px;
    height: auto;
    width: 100%;
    position: relative;
    padding: 10px 10px;
    text-align: center;
}

header {
    top: 0px;
}

footer {
    bottom: 0px;
}

main {
    margin: 0px;
    padding: 5%;
    background-image: url("/images/light_binary.png");
    background-attachment: fixed;
}

input {
    height: 35px;
    width: 66.6%;
}

iframe {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Resused Styles */

#resume {
	padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
}


.intro {
    padding: 24px;
    background-color: white;
    margin-bottom: 24px;
}


.accent-color {
    color: #fb3f00;
}



.footer-inside-box {
    padding: 10px 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 33.3%;
    margin: 8px 16px 16px 0px;
}

.contact-form {
    display: inline-block;
    text-align:left;
    width: 75%;
}



.menuBtn {
	background: rgb(0, 0, 0);
	border: none;
	height: 48px;
	width: 48px;
	text-align: center;
}

.btn {
    border: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.sm:hover {
    opacity: 0.7;
}

.main-nav:hover {
    color: inherit;
    opacity: .6;
    text-decoration: none;
}

.warning {
    color: red;
    font-size: 15px;
}

.white-bg {
    margin: 0;
    padding: 24px;
    background-color: white;
}

.cards {
    margin: 0;
    padding: 24px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 6px;
    max-width: 350px;
    text-align: center;
    margin-top: 60px;
    background-color: white;
    transition: .5s;
    text-decoration: none;
}

.card-img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: -60px auto 0;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-info {
    padding-bottom: 20px;
}


@media only screen and (min-width: 640px) {
    .cards {
      grid-template-columns: 47.5% 47.5%;
      grid-column-gap: 5%;
      grid-row-gap: 40px;
    }
    .card {
      padding: 20px;
    }
}

@media only screen and (min-width: 981px) {
    .cards {
      grid-template-columns: 30% 30% 30%;
      grid-row-gap: 50px;
    }
    .card {
      padding: 30px;
    }
}

/* Styles for index.html */

.highlights {
    column-width: 410px;
    padding: 0;
}


.highlight {
    color: rgb(0, 0, 0);
    height: auto;
    padding: 10px;
    margin: 0px 0px 24px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, .2);
    background-color: white;
    break-inside: avoid;
}

.highlight:hover {
    opacity: .6;
}

.first-highlight {
    text-align: left;
}

.second-highlight {
    text-align: right;
}

.third-highlight {
    text-align: left;
}

.fourth-highlight {
    text-align: right;
}

/* Styles for contact.html */
#contact {
    background-color: white;
    padding: 24px;
}

/* Styles for about.html */
.title {
	text-align: center;
}

.sidebar {
    width: 0;
    padding: 8px 0px 8px 16px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    right: 0;
    top: 125px;
    height: auto;
    transition: 0.5s;
}
  
.sidebar:hover {
    width: 125px !important;
}

.about {
    margin: 0px 0px 0px 0px;
    padding: 24px;
	transition: .5s;
    background-color: white;
}

/* Styles for portfolio.html */
#portfolio {
    margin: 0;
    padding: 24px;
}

#academic:hover {
    transform: scale(1.25);
}
#academic:hover #academic-hide {
    display: block;
}
#academic-hide {
    display: none;

}

#research:hover {
    transform: scale(1.25);
}
#research:hover #research-hide {
    display: block;
}
#research-hide {
    display: none;
    
}

#professional:hover {
    transform: scale(1.25);
}
#professional:hover #professional-hide {
    display: block;
}
#professional-hide {
    display: none;
    
}

#personal:hover {
    transform: scale(1.25);
}
#personal:hover #personal-hide {
    display: block;
}
#personal-hide {
    display: none;
    
}

#other-projects:hover {
    transform: scale(1.25);
}
#other-projects:hover #other-projects-hide {
    display: block;
}
#other-projects-hide {
    display: none;
    
}

#soft-skills:hover {
    transform: scale(1.25);
}
#soft-skills:hover #soft-skills-hide {
    display: block;
}
#soft-skills-hide {
    display: none;
    
}

/* styles for academic.html */

.year {
    text-align: center;
}

.line {
	background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}

.projects::after {
    content: "";
    clear: both;
    display: table;
}

.projects h5 {
    text-align: center;
}

.left, .right {
    width: 40%;
    padding: 0px 10px;
    margin: 8px 16px 16px 0px;
    border-radius: 25px;
    background-color: lightgray;
}

.left {
    float: left;
}

.right {
    float: right;
}


/* styles for research.html */

#research_main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
    overflow: hidden;
}

#research_main img {
    max-width:450px;
    align-items: center;
    justify-content: center;
}

.research_block {
    position: relative;
    z-index: 2;
    padding: 24px;
    display: block;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.Research_image {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1 ;
}

.Research_Title {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}

.Research_Description {
    grid-column: 2 / span 2;
}

.Research_Results {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

.Research_Skills {
    grid-row: 1 / span 3;
    grid-column: 4 / span 1;
}

/* Styles for professional.html */
#professional_projects p {
    text-align: left;
}

/* Styles for personal.html */
#personal-projects {
    overflow: hidden;
    padding-bottom: 200px;
    max-width: 1070px;
    padding: 0 30px;
    margin: 0 auto;
}

.personal-project {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px;
    border: solid 1px;
    transform: rotateY(0deg) rotate(45deg);
}
.diamond {
    width: 11.5%;
    padding-bottom: 11.5%;
    display: inline-block;
}
.diamond-big {
    width: 25%;
    padding-bottom: 25%;
    display: inline-block;
}
.content {
    transform: rotateY(0deg) rotate(-45deg);
}

/* Styles for other.html */

#hobbies img {
    display: inline;
    text-align: center;
    padding: 2%;
    border: black;
}
@media only screen and (min-width: 0px) {
    #hobbies img {
      width: 75%;
    }
}

@media only screen and (min-width: 981px) {
    #hobbies img {
        display: inline;
        width: 45%;
        text-align: center;
    }
}
#bug img {
    text-align: center;
}

.other-hobby {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Styles for soft-skills.html */
.skill-block {
    border: 2px solid black;
    background-color: white;
    border-radius: 6px;
    min-width: 40%;
    text-align: center;
    margin-top: 60px;
    transition: .5s;
    text-decoration: none;
    padding: 20px;
}

.skill-blocks {
    margin: 0;
    padding: 24px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;
}

@media only screen and (min-width: 981px) {
    .skill-blocks {
      grid-template-columns: 47.5% 47.5%;
      grid-column-gap: 5%;
      grid-row-gap: 40px;
    }
}

.skills-bars {
    width: 100%;
    background-color: #ddd;
    border: 1px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
}
  
.bar {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}

/* technical skill styles */
.java {width: 95%; background-image: linear-gradient(to right, black, red, black);}
.python {width: 92%; background-image: linear-gradient(to right, black, orange, black);}
.sql {width: 90%; background-image: linear-gradient(to right, black, yellow, black);}
.c {width: 87%; background-image: linear-gradient(to right, black, green, black);}
.analytics {width: 83%; background-image: linear-gradient(to right, black, blue, black);}
.html {width: 80%; background-image: linear-gradient(to right, black, indigo, black);}
.solidworks {width: 75%; background-image: linear-gradient(to right, black, violet, black);}
.dsmax {width: 60%; background-image: linear-gradient(to right, black, gray, black);}

/* Soft skill styles */
.work_ethic {width: 99%; background-image: linear-gradient(to right, black, red, black);}
.attitude {width: 98%; background-image: linear-gradient(to right, black, orange, black);}
.teachability {width: 95%; background-image: linear-gradient(to right, black, yellow, black);}
.critical_thinking {width: 93%; background-image: linear-gradient(to right, black, green, black);}
.organization {width: 87%; background-image: linear-gradient(to right, black, blue, black);}
.teamwork {width: 80%; background-image: linear-gradient(to right, black, indigo, black);}
.communication {width: 75%; background-image: linear-gradient(to right, black, violet, black);}
.leadership {width: 70%; background-image: linear-gradient(to right, black, gray, black);}

