html {
    font-size: 20px;
    font-family: "Menlo", "Lucida Console", monospace;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    text-align: center;
}

body {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

header {
    background-color: rgb(0, 0, 0);
    color: #fb3f00;
    position: relative;
    padding: 10px 10px;
    top: 0px;
    height: 100px;
    width: 100%;
    text-align: center;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fb3f00;
    position: relative;
    padding: 10px 10px;
    bottom: 0px;
    height: 120px;
    width: 100%;
    text-align: center;
}

.accent-color {
    color: #fb3f00;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.footer-inside-box {
    padding: 10px 10px;
}

.column {
    float: left;
    margin-bottom: 16px;
    padding: 0 8px

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.contact-form {
    display: inline-block;
    text-align:left;
}

.form-container {
    text-align: left;
    width: auto;

}

.highlight {
    color: rgb(0, 0, 0);
    height: 400px;
    padding: 1px 4px 0 4px;
    margin: 16px 0px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, .2);

}

.highlight:hover {
    opacity: .6;
}

.first-highlight {
    text-align: left;
}

.second-highlight {
    text-align: right;
}

.third-highlight {
    text-align: left;
}

.fourth-highlight {
    text-align: right;
}

.btn {
    border: none; /* Remove borders */
    height: 24px;
    width: 24px;
    cursor: pointer; /* Mouse pointer on hover */
}

.sm:hover {
    opacity: 0.7;
}

a.main-nav:link
{
   color: #fb3f00;
   text-decoration: none;
}
a.main-nav:visited
{
   color: #fb3f00;
   text-decoration: none;
}
a.main-nav:hover
{
   color: #fb3f00;
   text-decoration: none;
}
a.main-nav:active
{
   color: #fb3f00;
   text-decoration: none;
}
