html {
    font-size: 20px;
    font-family: "Menlo", "Lucida Console", monospace;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    text-align: center;
}

body {
    margin: 0px 0px;
    padding: 0px 0px;    
}

header, footer {
    background-color: rgb(0, 0, 0);
    margin: 0px 0px;
    height: auto;
    width: 100%;
    position: relative;
    padding: 10px 10px;
    text-align: center;
}

header {
    top: 0px;
}

footer {
    bottom: 0px;
}

main {
    margin: 0px 0px;
    padding: 0px 20px;
}

.intro {
    margin: 0px;
    padding: 0px;
}

.accent-color {
    color: #fb3f00;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.footer-inside-box {
    padding: 10px 10px;
}

.column {
    float: left;
    margin-bottom: 16px;
    padding: 0 8px

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.contact-form {
    display: inline-block;
    text-align:left;
}

.form-container {
    text-align: left;
    width: auto;

}

.highlight {
    color: rgb(0, 0, 0);
    height: 400px;
    padding: 1px 4px 0 4px;
    margin: 16px 0px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, .2);

}

.highlight:hover {
    opacity: .6;
}

.first-highlight {
    text-align: left;
}

.second-highlight {
    text-align: right;
}

.third-highlight {
    text-align: left;
}

.fourth-highlight {
    text-align: right;
}

.btn {
    border: none; /* Remove borders */
    height: 24px;
    width: 24px;
    cursor: pointer; /* Mouse pointer on hover */
}

.sm:hover {
    opacity: 0.7;
}


.main-nav:link
{
    color: inherit;
   text-decoration: none;
}
.main-nav:visited
{
    color: inherit;
   text-decoration: none;
}
.main-nav:hover
{
    color: inherit;
    opacity: .6;
   text-decoration: none;
}
.main-nav:active
{
   color: inherit;
   text-decoration: none;
}
